body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    max-width: 540px;
    line-height: 1.15;
    letter-spacing: -2.5px;
    margin-bottom: 59px;
}

.title-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 59px;
    letter-spacing: -1.5px;
}

.title-h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 3.3px;
    color: #1085e4;
    margin-top: 27px;
    margin-bottom: 14px;
    text-transform: uppercase;
    line-height: 20px;
}

.title-40 {
    font-size: 40px;
    letter-spacing: -1.25px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.3;
}

.title-40 span {
    display: block;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3.5px;
}

.page-stat .title-h2, .page-screen .title-h2 {
    text-align: center;
    margin: 0 auto;
}

.page-stat .title-h2 {
    max-width: 440px;
}

.content-app .title-h2 {
    margin-bottom: 37px;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 54px;
    margin-bottom: 303px;
}

.logo {
    display: block;
    width: 181px;
    height: 49px;
    background-image: url(../img/logo.png);
}

.nav {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav > li {
    padding: 0px 19px;
}

.nav-item {
    color: #6e7ea9;
    letter-spacing: 2.5px;
}

.screen-img {
    display: block;
    background-image: url(../img/header-screen.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 650px;
    height: 537px;
    position: absolute;
    right: 0px;
    top: 200px;
}

.btn-group {
    margin-left: 4px;
}

.btn-primary {
    background-color: #1085e4;
    border: 1px solid #1085e4;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding: 19px 40px 22px 40px;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: transparent;
    color: #1085e4;
}

.btn-secondary {
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #7e8bae;
    text-transform: uppercase;
    padding: 19px 40px 22px 40px;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color: transparent;
}

.btn-free {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.7px;
    padding: 20px 55px;
}

.btn-info {
    color: #8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 19px 62px 20px;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-info:hover {
    background-color: #fff;
}

.btn-group a + a {
    margin-left: 13px;
}

.list-company {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list-company-item {
    display: block;
}

.company-one {
    background-image: url(../img/sponsor1.png);
    flex-basis: 198px;
    height: 58px;
}

.company-two {
    background-image: url(../img/sponsor2.png);
    flex-basis: 200px;
    height: 69px;
}

.company-three {
    background-image: url(../img/sponsor3.png);
    flex-basis: 201px;
    height: 47px;
}

.company-four {
    background-image: url(../img/sponsor4.png);
    flex-basis: 200px;
    height: 69px;
}

.grid {
    display: grid;
    grid-template-areas:
        "a b c"
        "d b c"
        "d f g"
        "e f g"
        "e h h";
    max-width: 1110px;
    margin: 70px auto 100px;
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
    text-align: center;
    box-shadow: 0px 9px 20px #f4f4f4;
    padding: 45px 0 61px;
    border-radius: 10px;
}

.grid-item > p {
    max-width: 290px;
    margin: 0 auto 16px;
}

.grid-title {
    grid-area: a;
    max-width: 275px;
    letter-spacing: -1px;
}

.grid-item-1 {
    grid-area: b;
}

.grid-item-2 {
    grid-area: c;
}

.grid-item-3 {
    grid-area: d;
}

.grid-item-4 {
    grid-area: e;
}

.grid-item-5 {
    grid-area: f;
}

.grid-item-6 {
    grid-area: g;
}

.grid-text {
    grid-area: h;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
    line-height: 49px;
}

.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 799;
}

.grid-item h3 {
    font-size: 20px;
    color: #192b59;
    font-weight: 600;
    margin-bottom: 18px;
    letter-spacing: -0.6px;
}

.grid-item a {
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}

.grid-icon {
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto 27px;
    height: 92px;
    background-position: center;
}

.grid-icon-1 {
    background-image: url(../img/features-icon-1.png);
    background-size: 73px 79px;
}

.grid-icon-2 {
    background-image: url(../img/features-icon-2.png);
    background-size: 89px 85px;
}

.grid-icon-3 {
    background-image: url(../img/features-icon-3.png);
    background-size: 79px 82px;
}

.grid-icon-4 {
    background-image: url(../img/features-icon-4.png);
    background-size: 102px 91px;
}

.grid-icon-5 {
    background-image: url(../img/features-icon-5.png);
    background-size: 85px 90px;
}

.grid-icon-6 {
    background-image: url(../img/features-icon-6.png);
    background-size: 74px 70px;
}

.software-pic {
    display: block;
    background-image: url(../img/software-pic.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 1500px;
    height: 1500px;
    position: absolute;
    left: -828px;
    top: 20px;
}

.settings-icon {
    display: block;
    background-repeat: no-repeat;
    background-image: url(../img/icon.png);
    width: 115px;
    height: 97px;
    background-position: -24px 0;
}

.page-software-flex {
    display: flex;
    justify-content: flex-end;
}

.page-software-flex > div {
    flex-basis: 55%;
}

.page-software .title-h2, .page-analytics .title-h2 {
    max-width: 575px;
    margin-top: 9px;
    margin-bottom: 27px;
}

.page-software-list {
    margin-top: 29px;
    height: 323px;
    overflow: hidden;
    overflow-y: scroll;
}

.page-software-list::-webkit-scrollbar { width: 4px; height: 4px;}
.page-software-list::-webkit-scrollbar-button {  background-color: #1085e4; }
.page-software-list::-webkit-scrollbar-track-piece { background-color: #f3f6ff;}
.page-software-list::-webkit-scrollbar-thumb { height: 50px; background-color: #1085e4; border-radius: 10px;}

.page-software-list dt {
    font-weight: 700;
    color: #5a6789;
    margin-bottom: 9px;
}

.page-software-list dd {
    margin-left: 0;
    margin-bottom: 54px;
    font-size: 14px;
    line-height: 24px;
}

.page-app-text {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #c4d2dd;
    margin-top: 27px;
    margin-bottom: 20px;
}

.page-app-list {
    padding: 0;
    list-style-type: none;
    margin-left: -9px;
}

.page-app-list > li {
    display: inline-block;
}

.page-app-list > li > a {
    background-image: url(../img/app-buttons.png);
    display: block;
    background-repeat: no-repeat;
    width: 185px;
    height: 74px;
}

.page-app-list > li > a.page-app-android {
    background-position: -17px 0;
}

.page-app-list > li > a.page-app-ios {
    background-position: -206px 0;
}

.content-app {
    width: 55%;
}

.video-app {
    position: absolute;
    top: -60px;
    right: 5px;
}

.flex-analytics, .flex-analytics-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-analytics > div {
    flex-basis: 53.5%;
}

.flex-analytics-2 > div {
    flex-basis: 55%;
}

.page-analytics-text {
    margin-bottom: 50px;
}

.flex-analytics-2 .title-h2 {
    margin-bottom: 27px;
    margin-top: 10px;
}

.page-analytics-text-2 {
    margin-bottom: 49px;
}

.box-subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-subscribe-item {
    padding-top: 70px;
    padding-bottom: 121px;
    flex-basis: 48.7%;
}

.box-subscribe-item h2 {
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    letter-spacing: -1.5px;
}

.box-subscribe-item h2 span {
    font-size: 14px;
    color: #00bffe;
    display: block;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 33px;
}

.box-subscribe-text {
    font-size: 18px;
    color: #fff;
    line-height: 28px;
    max-width: 440px;
    margin-bottom: 37px;
}

.box-subscribe-user {
    position: relative;
}

.box-subscribe-user input {
    border: 2px solid #3f5cb1;
    color: #fff;
    font-size: 14px;
    border-radius: 45px;
    background-color: transparent;
    padding: 25px 230px 25px 37px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.box-subscribe-user .btn-primary {
    position: absolute;
    font-size: 14px;
    top: 10px;
    right: 11px;
    padding: 17px 45px;
    letter-spacing: 2.5px;
}

.box-subscribe-user input:focus, .box-subscribe-user .btn-primary {
    outline: none;
}

.box-subscribe-user input::-webkit-input-placeholder {color:#b1c3ee;}
.box-subscribe-user input::-moz-placeholder          {color:#b1c3ee;}
.box-subscribe-user input:-moz-placeholder           {color:#b1c3ee;}
.box-subscribe-user input:-ms-input-placeholder      {color:#b1c3ee;}

.list-stat {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 77px;
}

.list-stat > li {
    color: #1085e4;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.list-stat > li > span {
    display: block;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom: 23px;
    letter-spacing: -2px;
}

.screen {
    margin-top: 36px;
    margin-bottom: -7px;
}

.box-price {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.box-price .btn-primary {
    padding: 19px 62px 22px 62px;
}

.box-price-item {
    background-color: #f5faff;
    flex-basis: 31.5%;
    padding: 19px 0 98px 0;
    position: relative;
}

.box-price-item h3{
    color: #000958;
    font-size: 70px;
    letter-spacing: -1.3px;
    margin-bottom: 16px;
}

.box-price-item h3 span {
    font-size: 20px;
}

.box-price-item p{
    color: #0084ff;
    font-size: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-top: 0;
}

.box-price-item:first-child h3 {
    margin-bottom: 36px;
}

.box-price-item h3 span:first-child {
    color: #000958;
}

.box-price-item h3 span:last-child {
    color: #7b8ab2;
}

.box-price-item.active {
    background-color: #192b59;
    color: #fff;
}

.box-price-item.active h3 {
    color: #fff;
}

.box-price-item.active h3 span:first-child {
    color: #fff;
}

.box-price-item ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 14px;
    margin-top: 35px;
    margin-bottom: 59px;
}

.box-price-item ul > li {
    margin-top: 14px;
}

.box-price-item::after {
    content: "";
    width: 59px;
    height: 100%;
    background-image: url(../img/plan-triangle.svg);
    position: absolute;
    top: 0;
    right: 0;
}

.box-price-item.active::after {
    display: none;
}

.box-clients {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.box-clients-item {
    background-color: #fff;
    padding: 19px 42px;
    border-radius: 10px;
    flex-basis: 31.5%;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: 0px 5px 6px #f4f4f4;
}

.box-clients-item .name {
    font-size: 22px;
    font-weight: 600;
    color: #000958;
    margin-bottom: 0px;
    letter-spacing: -0.6px;
    line-height: 1.1;
}

.box-clients-item .position {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #1085e4;
    margin-top: 0px;
    letter-spacing: 3px;
}

.box-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box-info > div {
    padding-left: 10px;
}

.box-clients-item > p {
    margin-bottom: 0px;
    line-height: 1.8;
}

.box-info > img {
    padding: 22px 8px 0px 0px;
    margin-left: -5px;
}

.box-team {
    display: flex;
    justify-content: space-between;
    margin-top: 136px;
}

.box-team-item {
    background-color: #fff;
    flex-basis: 31.5%;
    box-shadow: 0px 5px 6px #f4f4f4;
    position: relative;
    padding: 193px 31px 42px 31px;
    box-sizing: border-box;
}

.box-team-item .position {
    font-size: 14px;
    text-transform: uppercase;
    color: #1a88e1;
    font-weight: 900;
    margin-bottom: 0;
    letter-spacing: 2.8px;
}

.box-team-item .name {
    font-size: 26px;
    color: #192b59;
    font-weight: 600;
    margin-top: 7px;
    letter-spacing: -0.8px;
}

.box-team-item .avatar {
    position: absolute;
    top: -86px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.box-team-item .btn-team {
    background-color: #f3f3f3;
    border-radius: 100%;
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: none;
    padding: 0;
    transition: 0.3s;
    display: flex;
}

.box-team-item .btn-team:hover {
    background-color: #1a88e1;
}

.box-team-item .btn-team span {
    background: url(../img/btn-team.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    align-self: center;
}

.box-team-item .btn-more span {
    background-position: -11px -5px;
    width: 20px;
    height: 20px;
}

.box-team-item .btn-more:hover span {
    background-position: -11px -33px;
}

.box-team-item .btn-more:focus {
    outline: none;
}

.social-team {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.box-team-item .btn-fb span {
    background-position: -35px -2px;
    width: 20px;
    height: 20px;
}

.box-team-item .btn-fb:hover span {
    background-position: -35px -32px;
}

.box-team-item .btn-tw span {
    background-position: -60px -5px;
    width: 20px;
    height: 20px;
}

.box-team-item .btn-tw:hover span {
    background-position: -60px -34px;
}

.box-team-item .btn-be span {
    background-position: -90px -6px;
    width: 20px;
    height: 20px;
}

.box-team-item .btn-be:hover span {
    background-position: -90px -34px;
}

.box-team-item .btn-web span {
    background-position: -120px -6px;
    width: 20px;
    height: 20px;
}

.box-team-item .btn-web:hover span {
    background-position: -120px -34px;
}

.object-circle {
    background-image: url(../img/circle-gray.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    width: 450px;
    height: 670px;
    left: 0;
    bottom: -270px;
}

.object-rhombus {
    background-image: url(../img/rhombus-gray.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    width: 560px;
    height: 670px;
    right: 0px;
    top: -210px;
}

.intro {
    color: rgba(0,0,0,0.04);
    font-size: 300px;
    font-weight: 900;
    line-height: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 38px;
    text-align: center;
    margin: 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.contact-form input, .contact-form textarea {
    font-size: 14px;
    border: 2px solid #dce4ec;
    padding: 25px 80px 25px 40px;
    border-radius: 35px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
}

.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {color:#8995b3;}
.contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder {color:#8995b3;}
.contact-form input:-moz-placeholder, .contact-form textarea:-moz-placeholder {color:#8995b3;}
.contact-form input:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {color:#8995b3;}

.contact-form .btn-primary {
    position: relative;
    padding: 22px 40px 22px 65px;
    max-width: 230px;
    letter-spacing: 2px;
}

.contact-form .btn-primary::before {
    content: '';
    background-image: url(../img/plane.png);
    position: absolute;
    left: 52px;
    top: calc(50% - 6px);
    display: block;
    width: 15px;
    height: 13px;
}

.contact-form-item {
    margin-bottom: 20px;
    position: relative;
}

.contact-form-item.contact-form-text {
    margin-bottom: 33px;
}

.contact-form-item::after {
    content: '';
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: 40px;
}

.contact-form-name::after {
    background-image: url(../img/user.png);
    display: block;
    width: 13px;
    height: 15px;
    top: calc(50% - 7px);
}

.contact-form-mail::after {
    background-image: url(../img/mail.png);
    display: block;
    width: 14px;
    height: 11px;
    top: calc(50% - 5px);
}

.contact-form-text::after {
    background-image: url(../img/pen.png);
    display: block;
    width: 14px;
    height: 15px;
    top: 28px;
}

.contact-form textarea {
    min-height: 160px;
    resize: none;
}

.flex-form {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1090px;
    align-items: center;
}

.flex-form > div {
    flex-basis: 47%;
}

.flex-form img {
    margin-right: 64px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.footer-flex > p >a {
    text-transform: uppercase;
    color: #1085e4;
}

.social {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
}

.social > li {
    margin-left: 24px;
}

.social-link {
    flex-basis: 20%;
    display: block;
}

.social-facebook {
    width: 15px;
}

.social-twitter {
    width: 15px;
}

.social-behance {
    width: 15px;
}

.social-pinterest {
    width: 15px;
}

.social-foursquare {
    width: 15px;
}

.social-link svg {
    fill: #fff;
    transition: 0.3s;
} 

.social-link:hover svg {
    fill: #1085e4;
} 

/* PAGE */

.page-header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 330px;
    position: relative;
}

.page-company {
    background-image: url(../img/sponsors-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 106px 0 100px;
}

.page-stat, .page-screen {
    background-color: #edf6ff;
}

.page-stat {
    padding: 89px 0 95px 0;
    position: relative;
}

.page-software {
    padding: 113px 0 166px 0;
    position: relative;
    overflow: hidden;
}

.page-plan, .page-screen {
    text-align: center;
    margin-top: 0px;
    padding: 85px 0 120px 0;
}

.page-screen {
    padding: 82px 0 0 0;
}

.page-subscribe {
    color: #fff;
    background: rgba(10,32,144,1);
    background: -moz-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
    background: -webkit-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
}

.page-app {
    padding: 71px 0 82px 0;
}

.page-app .wrap {
    position: relative;
}

.page-analytics {
    background-image: url(../img/bg-5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 119px 0 137px;
}

.page-analytics-2 {
    background-image: url(../img/bg-6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 119px 0 137px;
}

.page-clients {
    position: relative;
    margin-top: 120px;
    padding: 42px 0 0 0;
}

.page-clients::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/vector.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.page-clients .title-40, .page-team .title-40 {
    color: #fff;
}

.page-clients .title-40 span, .page-team .title-40 span {
    color: #85c8ff;
}

.page-team {
    text-align: center;
    background-image: url(../img/bg-8.png);
    background-repeat: no-repeat;
    background-position: top;
    padding: 82px 0 118px 0;
}

.page-form {
    background-image: url(../img/bg-9.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 70px 0 120px 0;
}

.footer {
    background-color: #192b59;
    padding: 5px 0 4px 0;
}

/* MEDIA */

@media (max-width: 850px) {

}